header{

    background-color: #ffffff;
    height: 92px;
}

*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.social-icons a i {
    color: #000000 !important;
    font-size: 15px;
    text-align: center;          
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    padding-top: 3px;
    width: 20px;
    height: 20px;
}


.logo{


    width: 139px;
    height: 60px;
    margin-left: 32px;
    
}

nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}


nav .menu{
    
   display: flex;
   list-style-type: none;
   gap: 32px;
   padding: 34px;
   align-items: center;

}

nav .menu a{

    text-decoration: none;
    font-weight: medium;
    font-size: 16px;
    color: #000000;


}


.btn {
    background-color: #469165;
    color: #ffffff;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    height: 44px;
    width: 164px;
    font-size: 16px;
    font-weight: 600; 
    cursor: pointer;
    
    
    display: inline-block; 
    transition: all 0.3s ease; 
}


.btn:hover {
    background-color: #030f53; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.btn:active {
    transform: translateY(0);
}

.hero {
    width: 100%;
    height: 75vh;
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 120px 134px 120px;
    position: relative;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(26, 24, 24, 0.45);
    opacity: 10%;
}

.hero-content{

    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    display: flex;
}

.hero-content h1{

    width: 770px;
    height: 168px;
    color: #ffffff;
    font-style: 700;
    font-size: 72px;
    justify-content: center;
    text-transform: capitalize;
    line-height: 84px;
    align-items: center;
    margin-top: 16px;

}

.hero-content p{

    color: #ffffff;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    margin-top: 16px;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

body .btn-primary-btn {
    background-color: #469165;
    color: #ffffff !important;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    width: 251px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    
   
    display: inline-block;
    position: relative;
    z-index: 10;
    transition: all 0.3s ease-in-out !important;
}


body .btn-primary-btn:hover {
    background-color: #030f53 !important;
    transform: translateY(-4px) !important; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) !important;
}


body .btn-primary-btn:active {
    transform: translateY(-1px) !important;
}
.btn-secondary-btn {
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    width: 198px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;    
    justify-content: center; 
    gap: 10px;              
}


.btn-secondary-btn i {
    font-size: 14px;
    color: transparent;            
    -webkit-text-stroke: 1px white; 
}


.head-content{

    align-items: center;
    text-align: center;
}


.head-one{

    margin-top: 44px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
}


.head-content p{

    font-size: 16px;
}

.features {
    padding: 80px 120px;
    background-color: #ffffff;
}

.features-container {



display: flex;
    gap: 24px;
    justify-content: center;
}


.feature-card {



    background-color: #ffffff;
    border-radius: 12px;
    padding: 88px 24px 32px; 
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
    width: 322px;
    height: 300px;
    gap: 24px;

}

.card-icon {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 24px;
    
    
}

.card-icon img {

    width: 32px;
    height: 32px;
}


.card-title {

    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 16px;
    margin-top: 45px;
}

.card-text {

    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-top: 16px;
    
}

.brain{

    display: flex;
    justify-content: center;
    padding: 120px 120px;
    max-width: 1360px;
    margin-left: 145px;
}

.position{

    width: 700;
    margin-left: 60px;
}

.solution{

    color: #469165;
    font-size: 16px;
    font-weight: 600;
    margin-top: 135px;
    margin-bottom: 16px;

}

.brain-content{

    color: #001931;
    font-size: 26px;
    font-weight: bold;
}

.brain-para{

    margin-bottom: 40px;
    margin-top: 16px;
    color: #627382;
}

.list ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.list li {
    padding-left: 25px; 
    margin-bottom: 5px;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    position: relative;
    font-weight: 700;
}


.list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
    width: 20px;                
    height: 20px;                
    background-image: url("assets/CheckCircle.png"); 
    background-size: contain;    
    background-repeat: no-repeat;
    background-position: center;
}

.container{

    align-items: center;
    justify-content: center;

}

.inv {
    max-width: 1360px;        
    width: 100%;              
    margin: 0 auto 120px;     
    background-color: #F7F6F2;
    padding: 60px 120px; 
    box-sizing: border-box;
    text-align: center;    
}



.head-two{

    font-size: 25px;
    font-weight: bold;
    padding-top: 80px;
}

.inv-para{

    color: #627382;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
}


.inv-btn {
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    height: 52px;
    width: 194px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    cursor: pointer;
    
   
    display: inline-block;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}


.inv-btn:hover {
    background-color: #030f53; 
    transform: translateY(-3px); 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); 
}


.inv-btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.second-inv-para{

    color: #627382;
    font-size: 16px;
    margin-top: 16px;

}

.footer {
    background-color: #001931; 
    color: #ffffff;
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 30px;
    font-family: sans-serif;
}


.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-bottom: 20px;
}

.footer-logo img {
    height: 50px; 
}

.footer-social h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    text-align: right;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: opacity 0.3s;
}

.social-icons a:hover {
    opacity: 0.7;
}

.footer-divider {
    border: 0;
    border-top: 1px solid #0f3053;
    margin: 20px 0;
    margin-top: 80px;
}

.footer-bottom {
    text-align: center;
    font-size: 16px;
    color: #FAFAFA;
    line-height: 24px;
}


